$backgroundColor: #fff;
$text: #1b1c21;
$color: #24292e;
$border: #41f6d7;
$button: #ff3e79;
$title: #7e7e82;
$service: #f8f8f8;
$divider: #eaeaea;
$box-shadow-button: rgb(0, 0, 0);
$box-shadow-1: rgba(69, 79, 126, 0.02);
$box-shadow-2: rgba(14, 24, 80, 0.2);
$more: rgba(0, 0, 0, 0);
$headerGradient: linear-gradient(135deg, #F8F8F8 0%, #FFFFFF 98.61%);